<div class="education">
    <div class="msit zoom">
        <div class="msit-image">
            <img src="../../assets/images/msit.png" alt="msit-logo">
       </div>
       <div class="content-edu">
           <p>
            Meghnad Saha Institute of Technology<br>
            B.Tech. Information Technology<br>
            2018 - 2022<br>
            CGPA: 8.4<br>



            
           </p>
        
       </div>
       
        

    </div>

    <div class="iitm zoom">
        <div class="msit-image">
            <img src="../../assets/images/IIT_Madras_Logo.png" alt="iitm-logo">
       </div>
       <div class="content-edu-iitm">
           <p>
            Indian Institute of Technology Madras<br>
            B.Tech. Computer Science<br>
            2018 - 2022<br>
            CGPA: 8.4<br>
           </p>
    
       </div>
       
        

    </div>



</div>